<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Controls</title>
</head>
<body>
<h3>Fill to SelectBox</h3>
<select name="cbo">
    <th:block th:each="staff: ${list}">
        <option th:value="${staff.id}"
                th:text="${staff.fullname}"
                th:selected="${staff.id == 'user3@gmail.com'}"></option>
    </th:block>
</select>

<hr>

<h3>Create Radio Button Group (dynamic)</h3>
<th:block th:each="staff: ${list}">
    <label>
        <input type="radio" name="rdo"
               th:value="${staff.id}"
               th:checked="${staff.id == 'user3@gmail.com'}">
        <th:block th:text="${staff.fullname}"></th:block>
    </label>
    <br>
</th:block>

<hr>

<h3>Create Radio Button Group (hardcode - ít dùng)</h3>
<label>
    <input type="radio" name="rdo" value="user1@gmail.com">
    nguyễn văn user1
</label>
<br>
<label>
    <input type="radio" name="rdo" value="user2@gmail.com">
    nguyễn văn user2
</label>
<br>
<label>
    <input type="radio" name="rdo" value="user3@gmail.com" checked>
    nguyễn văn user3
</label>
<br>
<label>
    <input type="radio" name="rdo" value="user4@gmail.com">
    nguyễn văn user4
</label>
<br>
<label>
    <input type="radio" name="rdo" value="user5@gmail.com">
    nguyễn văn user5
</label>
<br>
<label>
    <input type="radio" name="rdo" value="user6@gmail.com">
    nguyễn văn user6
</label>
<br>

</body>
</html>
