<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="staff, st : ${list}">
        <img th:src="@{|/uploads/${staff.photo}|}" style="height:40px">
        <b th:text="@{|${st.count}. |}"></b>
        <b th:text="${#strings.capitalizeWords(staff.fullname)}"></b>,
        $<b th:text="${#numbers.formatDecimal(staff.salary, 0, 'COMMA', 2,'POINT')}"></b>
        <th:block th:if="${!st.last}"><hr></th:block>
    </div>
</body>
</html>